[2022-05-13 11:15] yegor256 opened #1 "skeleton"

[2022-05-13 11:28] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2022-05-13 11:29] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25872-1125957059)

[2022-05-13 11:30] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25872-1125957059) (spent 2min)

[code]

[2022-05-13 13:13] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2022-05-13 13:13] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25872-1126043461)

[2022-05-13 13:30] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2022-05-13 13:33] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25872-1126060221) (spent 2min)

[code]

[2022-05-13 14:12] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2022-05-13 14:14] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25872-1126100807) (spent 2min)

[code]

[2022-05-13 15:06] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2022-05-13 15:07] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25872-1126157780)

[2022-05-13 15:28] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2022-05-13 15:29] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25872-1126178878)

[2022-05-13 15:30] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25872-1126178878) (spent 2min)

[code]

[2022-05-13 15:41] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2022-05-13 15:42] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25872-1126190955)

[2022-05-13 15:43] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25872-1126190955) (spent 2min)

[code]

[2022-05-13 15:45] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2022-05-13 15:46] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25872-1126194424)

[2022-05-13 15:48] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25872-1126194424) (spent 2min)

[code]

[2022-05-13 15:50] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2022-05-13 15:51] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25872-1126198623)

[2022-05-13 15:53] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25872-1126198623) (spent 2min)

[code]

[2022-05-13 15:54] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2022-05-13 15:55] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25872-1126201730)

[2022-05-13 15:57] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25872-1126201730) (spent 2min)

[code]

[2022-05-13 19:07] yegor256 commented on #1
@rultor release tag is `0.0.1`

[2022-05-13 19:08] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25872-1126362317)

[2022-05-13 19:10] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25872-1126362317) (spent 2min)

[code]

[2022-05-13 19:15] yegor256 commented on #1
@rultor release tag is `0.0.1`

[2022-05-13 19:16] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25872-1126367588)

[2022-05-13 19:17] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25872-1126367588) (spent 2min)

[code]

[2022-05-13 19:21] yegor256 commented on #1
@rultor release, tag is `0.0.2`

[2022-05-13 19:22] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25872-1126371895)

[2022-05-13 19:23] yegor256 commented on #1
@rultor stop

[2022-05-13 19:24] rultor commented on #1
@yegor256 OK, I'll try to stop current task.

[2022-05-13 19:24] rultor commented on #1
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25872-1126372740) (spent 2min)

[code]

[2022-05-13 19:24] yegor256 commented on #1
@rultor release, tag is `0.0.2`

[2022-05-13 19:26] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25872-1126373914)

[2022-05-13 19:28] rultor commented on #1
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25872-1126373914) (took me 2min)

[2022-05-13 19:28] #1 closed

[2022-05-13 19:51] yegor256 opened #2 "make it installable"

[2022-05-13 19:57] yegor256 commented on #2
@rultor release, tag is `0.0.3`

[2022-05-13 19:58] rultor commented on #2
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25874-1126411334)

[2022-05-13 20:00] rultor commented on #2
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25874-1126411334) (took me 2min)

[2022-05-13 20:10] #2 closed

[2022-05-13 20:31] yegor256 opened #3 "coverage reporting to codecov.io"
Let's configure coverage reporting to codecov.io

[2022-05-17 02:40] yegor256 opened #4 "parse EO to XMIR"

[2022-05-18 21:19] yegor256 commented on #4
@rultor release, tag is `0.1.0`

[2022-05-18 21:20] rultor commented on #4
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25891-1130562365)

[2022-05-18 21:22] rultor commented on #4
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25891-1130562365) (spent 2min)

[code]

[2022-05-18 21:37] yegor256 commented on #4
@rultor release, tag is `0.1.0`

[2022-05-18 21:38] rultor commented on #4
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25891-1130575404)

[2022-05-18 21:44] rultor commented on #4
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25891-1130575404) (spent 6min)

[code]

[2022-05-19 06:14] yegor256 commented on #4
@rultor release, tag is `0.1.0`

[2022-05-19 06:15] rultor commented on #4
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25891-1131259352)

[2022-05-19 06:21] rultor commented on #4
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25891-1131259352) (spent 5min)

[code]

[2022-05-19 06:31] yegor256 commented on #4
@rultor release, tag is `0.1.0`

[2022-05-19 06:33] rultor commented on #4
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25891-1131285209)

[2022-05-19 06:38] rultor commented on #4
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/25891-1131285209) (spent 5min)

[code]

[2022-05-19 06:39] #4 closed

[2022-05-19 06:45] yegor256 opened #5 "audit command"

[2022-05-19 06:50] yegor256 commented on #5
@rultor release, tag is `0.2.0`

[2022-05-19 06:51] rultor commented on #5
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/25893-1131297326)

[2022-05-19 06:52] yegor256 opened #6 "--quiet"
Let's add `--quiet` option for all mvnw related commands. They simply should suppress mvn output. Let's make sure `eoc run` by default passes this option to all commands it executes.

[2022-05-19 06:54] yegor256 opened #7 "GitHub Actions fail on Windows"
Let's try to add `windows-latest` to `grunt.yml` and make sure it works. Now it fails.

[2022-05-19 06:56] rultor commented on #5
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/25893-1131297326) (took me 5min)

[2022-05-19 06:57] #5 closed

[2022-06-12 13:16] yegor256 opened #8 "use the latest version of eo-maven-plugin"
Now we use hard-coded 0.23.1. Let's detect it dynamically.

[2022-06-14 04:47] yegor256 commented on #8
@rultor release, tag is `0.2.1`

[2022-06-14 04:48] rultor commented on #8
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26017-1154705745)

[2022-06-14 05:08] yegor256 commented on #8
@rultor stop

[2022-06-14 05:09] rultor commented on #8
@yegor256 OK, I'll try to stop current task.

[2022-06-14 05:09] rultor commented on #8
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26017-1154717034) (spent 21min)

[code]

[2022-06-14 05:09] yegor256 commented on #8
@rultor release, tag is `0.2.1`

[2022-06-14 05:11] rultor commented on #8
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26017-1154718039)

[2022-06-14 05:17] rultor commented on #8
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26017-1154718039) (took me 5min)

[2022-06-14 05:20] #8 closed

[2022-06-16 08:15] yegor256 opened #9 "exclude all sources from .eoc during 'register'"

[2022-06-16 08:28] yegor256 commented on #9
@rultor release, tag is `0.2.2`

[2022-06-16 08:29] rultor commented on #9
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26026-1157382506)

[2022-06-16 08:59] #9 closed

[2022-06-17 13:26] fizruk opened #10 "org.junit.jupiter.api does not exist"
Trying out `eoc` on macOS 12.4. Getting these errors:

[code]

Apparently, this should be added in dependencies or installed by the user, but I did not find relevant information in the README.

UPDATE: This only happens when there is `+junit` directive:

[code]

[2022-06-17 15:59] yegor256 commented on #10
@rultor release, tag is `0.2.3`

[2022-06-17 15:59] yegor256 commented on #10
@fizruk I believe it's fixed, try version 0.2.3

[2022-06-17 15:59] #10 closed, assigned to yegor256

[2022-06-17 16:00] rultor commented on #10
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26043-1159018337)

[2022-06-17 16:08] rultor commented on #10
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26043-1159018337) (took me 7min)

[2022-06-19 12:53] yegor256 opened #11 "'test' task to run all unit tests"

[2022-06-19 19:41] yegor256 commented on #11
@rultor release, tag is `0.3.0`

[2022-06-19 19:41] rultor commented on #11
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26052-1159798857)

[2022-06-19 19:48] rultor commented on #11
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26052-1159798857) (took me 6min)

[2022-06-19 19:50] #11 closed

[2022-06-21 03:46] yegor256 commented on #6
@rultor release, tag is `0.4.0`

[2022-06-21 03:48] rultor commented on #6
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26060-1161218566)

[2022-06-21 03:54] rultor commented on #6
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26060-1161218566) (took me 6min)

[2022-06-22 03:55] #7 closed

[2022-06-22 04:35] yegor256 opened #13 "test path and normal path must be separated"
By default, we should ignore `**/*-test.eo` files and also don't include junit dependencies into the target .jar. Only when the user does `eoc test`, we should include test files and also include junit.

[2022-06-22 06:45] yegor256 commented on #7
@rultor release, tag is `0.4.1`

[2022-06-22 06:46] rultor commented on #7
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26079-1162711393)

[2022-06-26 09:15] yegor256 opened #14 "foreigns"
Let's make it possible to print the explanation of all "foreigns":

[code]

[2022-06-26 12:42] yegor256 commented on #14
@rultor release, tag is `0.5.0`

[2022-06-26 12:43] rultor commented on #14
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26102-1166521078)

[2022-06-26 12:52] rultor commented on #14
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26102-1166521078) (spent 9min)

[code]

[2022-06-27 15:10] yegor256 commented on #14
@rultor release, tag is `0.5.0`

[2022-06-27 16:56] rultor commented on #14
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26102-1167476694)

[2022-06-27 17:04] rultor commented on #14
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26102-1167476694) (took me 8min)

[2022-06-27 19:10] #14 closed

[2022-06-28 09:40] MikhailLipanin opened #15 ""Then, you write a simple EO program in hello.eo file in the current directory:""
I have to make programs on EO in any directory and add path to it through "eoc" command or in a special directory, where npm eolang package was unpacked?
I tried both variants, but had an error: "eoc" не является внутренней или внешней
командой, исполняемой программой или пакетным файлом.

As said in README.md, I installed npm, jse and eolang package via npm.

[2022-07-01 06:12] yegor256 commented on #15
@MikhailLipanin try to do

[code]

Then, the `eoc` command should be available in `/usr/local/bin/eoc`

[2022-07-01 06:14] yegor256 commented on #15
@MikhailLipanin I fixed the doc: 348bfa8

[2022-07-01 06:15] yegor256 opened #16 "--hash"
Let's add a new param `--hash` to specify the hash in Objectionary to work against.

[2022-07-01 06:48] #16 closed

[2022-07-01 06:48] yegor256 opened #17 "--parser-version"
Let's make it possible to set the version of the parser

[2022-07-01 06:48] yegor256 commented on #17
@rultor release, tag is `0.6.0`

[2022-07-01 06:50] rultor commented on #17
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26128-1171999062)

[2022-07-01 06:57] rultor commented on #17
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26128-1171999062) (took me 8min)

[2022-07-01 07:10] #17 closed

[2022-07-01 08:00] yegor256 opened #18 "print command timings"
Would be great to have all commands printing their `console.info` with a prepending timing:

[code]

Here 01:12 means one minute and 12 seconds spent on running this command.

[2022-07-01 08:34] yegor256 opened #19 "build is not stable"
see https://github.com/objectionary/eoc/runs/7146080610?check_suite_focus=true

[2022-07-01 11:48] yegor256 opened #20 "delete 'generated-sources' on each 'transpile' run"

[2022-07-01 11:49] yegor256 opened #21 "print log msg on 'clean'"

[2022-07-03 05:12] #21 closed

[2022-07-03 05:19] yegor256 commented on #20
@rultor release, tag is `0.6.1`

[2022-07-03 05:20] rultor commented on #20
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26135-1173014044)

[2022-07-03 05:28] rultor commented on #20
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26135-1173014044) (took me 7min)

[2022-07-03 05:28] #20 closed

[2022-07-07 14:53] #15 closed

[2022-07-11 02:00] MikhailLipanin opened #22 "Failed to execute goal org.eolang:eo-maven-plugin"
Full error log:
https://pastebin.com/pxeg7Wwy

@yegor256, can this be due to the fact that the path that is written in the log is:
`/nvm/versions/node/v18/5/0/lib/node_modules/eolang/itest/`
while real path to `eolang/itest` after installing npm, node and eoc is:
`/.nvm/versions/node/v18.5.0/lib/node_modules/eolang/itest/`
or it converts to right format when executing?

[2022-07-11 14:19] potatmen opened #23 "Failing to read arguments from console"
Argument parsing from command line doesn't work, for example when I try to run `$ eoc dataize app 9` and the program is just returning the given value, I get `Error at "EOorg.EOeolang.EOerror#Δ" attribute
Can't get(), attribute "Δ" is absent among other 3 attrs (msg, ρ, σ) and φ is absent`.

The program is: [here](https://pastebin.com/rd1p2esZ)

[2022-07-12 09:41] potatmen opened #24 "Using eo-maven-plugin/0.0.0/eo-maven-plugin-0.0.0.jar"
When I try to run simple program with `--verbose` option I see that `eoc` is trying to download non-existing version of `eo-maven-plugin`.

[2022-07-12 15:48] MikhailLipanin commented on #22
all is working good, my mistake

[2022-07-12 15:48] #22 closed

[2022-07-14 14:19] yegor256 opened #25 "--cached option for 'clean' command"
The option `--cached` must delete `~/.eo` directory too

[2022-07-15 17:00] maxonfjvipon commented on #23
@potatmen do `git pull` and try again, if it works you may close the issue

[2022-07-15 17:06] yegor256 commented on #23
@rultor release, tag is `0.7.0`

[2022-07-15 17:07] rultor commented on #23
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26248-1185736346)

[2022-07-15 17:17] rultor commented on #23
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26248-1185736346) (took me 10min)

[2022-07-15 17:32] yegor256 commented on #23
@potatmen try to use version 0.7.0. install it this way:

[code]

should work

[2022-07-15 18:38] yegor256 commented on #25
@maxonfjvipon maybe you can help with this one too?

[2022-07-15 19:20] maxonfjvipon commented on #25
@yegor256 I'll try it out

[2022-07-16 16:40] potatmen commented on #23
@yegor256 thanks, it works now!

[2022-07-16 16:40] #23 closed

[2022-07-21 15:56] mnj2kk opened #28 "Can not dataize on m1 mac"
According to README.md command ```eoc dataize hello```

get this:
[code]

[2022-07-27 13:40] potatmen opened #29 "Array creating works inorrectly"
There are two simple programs:
[code]
And:
[code]

Both make a pair object and then pass `.x` and `.y` to the object that creates array of these two elements. In first case we pass both argument without creating new variables and in second version we make it. First program catches an error `The object is at the line #7, position #2; caused by ExUnset: Error at "EOorg.EOeolang.EOarray#x" attribute;

[2022-07-27 13:43] potatmen commented on #29
@yegor256 @maxonfjvipon @kerelape

[2022-07-27 14:02] maxonfjvipon commented on #29
@potatmen try `getArr (p.x) (p.y) > res`

[2022-07-27 14:06] potatmen commented on #29
@maxonfjvipon it works now, thanks

[2022-07-27 14:06] #29 closed, assigned to nobody

[2022-07-27 14:07] maxonfjvipon commented on #29
@potatmen you also can do:
[code]

[2022-07-29 08:19] maxonfjvipon commented on #25
@yegor256 I think it can be closed

[2022-07-29 08:20] yegor256 commented on #25
@maxonfjvipon thanks for your help!

[2022-07-29 08:20] #25 closed

[2022-08-02 14:48] ivan-egorov42 opened #30 "Cannot run eoc test"
When I try to run ``` eoc test ``` in terminal, it fails. Maybe I do smth wrong, but there is a [log.txt](https://github.com/objectionary/eoc/files/9243233/log.txt) with output. Nevertheless, some programs I can run like hello.eo etc. What should I do?

[2022-08-02 14:51] kerelape commented on #30
@ivan-egorov42 can you show the code, please?

[2022-08-02 15:16] ivan-egorov42 commented on #30
I cloned this repository to my PC and run ``` eoc test ``` in eoc folder, so I didn't have a program. But now I try to run it in folder with hello.eo and it fails again, and [log.txt](https://github.com/objectionary/eoc/files/9243398/log.txt) changed. This is my code
[code]
It works, when I run ```eoc dataize hello ``` and prints "Hello, world!" in terminal, but ```eoc test``` doesn't work.

I hav

[2022-08-02 15:17] ivan-egorov42 commented on #30
Misclicked on closing issue, sry.

[2022-08-02 15:30] kerelape commented on #30
Now the build fails because "there are no tests".

[2022-08-02 15:32] kerelape commented on #30
@ivan-egorov42 the first log you shared, was complaining about an object called `story`. This may happen when you try to use an object that is not in objectionary without an alias

[2022-08-03 11:49] ivan-egorov42 commented on #30
First log was when I run ``` eoc test ``` in folder with eoc, so I don't use any programs or objects.

Second log says that there were no tests. I tried to add folders test and itest in folder with my program hello.eo and it seems I got the same [log.txt](https://github.com/objectionary/eoc/files/9250762/log.txt). It complains about ```story``` again and ```story.eo``` as I understand. I suppose t

[2022-08-04 14:18] ivan-egorov42 commented on #30
I think it would be nice to tell user in RM that he has to add tests or maybe clone repository in his project directory if he wants to run `eoc test`? BTW, is there any solution with my problem?

[2022-08-04 14:53] kerelape commented on #30
@ivan-egorov42 try to run this command in a directory where you only have a test (an eo file with `+junit` meta and at least one abstract object that decorates bool) and tell the result, please

[2022-08-04 15:13] ivan-egorov42 commented on #30
I should run program like this?
[code]

[2022-08-04 15:17] kerelape commented on #30
@ivan-egorov42 yes, this should work

[2022-08-04 15:23] ivan-egorov42 commented on #30
Yes, it works [log.txt](https://github.com/objectionary/eoc/files/9260959/log.txt)

[2022-08-05 07:44] yegor256 commented on #30
@ivan-egorov42 I tried to improve the documentation in a53ebf2

[2022-08-05 07:44] #30 closed

[2022-08-05 10:39] ivan-egorov42 commented on #30
It works with hello.eo, but I still can't run your test.

P.S. I tried to run `../src/eoc.js dataize program` from https://github.com/objectionary/eoc/blob/master/itest/README.md and get this error: [log.txt](https://github.com/objectionary/eoc/files/9267692/log.txt). I realized from this log that I should install "commander": `npm install commander`. I think it would be nice to write this in RM,

[2022-08-05 10:56] ivan-egorov42 commented on #30
Caused by: java.lang.ClassNotFoundException: org.eolang.Main

**Sorry, I confused erorrs, now I have this output:**

_Error at "number.as-int.ρ" attribute
Error at "EOorg.EOeolang.EOmath.EOnumber#n" attribute
Error at "number.as-float.ρ" attribute
Error at "EOorg.EOeolang.EOmath.EOnumber#n" attribute
Error at "φ.σ" attribute
Error at "EOorg.EOeolang.EOmath.EOrandom#seed" attribute
The attribute is

[2022-08-10 09:34] includealex opened #31 "Unit testing with 'eoc'"
As mentioned in [this](https://news.eolang.org/2022-06-19-eoc-test.html) article, user can easily start unit testing of eo-programs. But if user creates a program named `app.eo` in random directory with such a code
[code]
and then puts a unit-test into the `app-test.eo`  file to the same directory,
[code]
he will get an error after running `eoc test`.

[2022-08-10 09:50] includealex opened #32 "Non-working simple integration test"
As written in [itest/README.md](https://github.com/objectionary/eoc/blob/master/itest/README.md), typing
[code]
is running a simple integration test. But that leads to non-expected errors:
[code]

[2022-08-16 05:34] Karina5005 opened #33 "Example execution is failed"
I tried to run example from README, but it doesn't work for me.

Test file:
[code]
Result:
[code]

[2022-08-22 08:39] OlesiaSub opened #34 "eoc link error: "Cannot find module 'node:util'""
I have just installed eolang on ubuntu (v. 22), but I cannot do anything because `eoc link` fails with the following message:
[code]
I've already tried removing node_modules directory and reinstalling eo, but got the same result.

Here is the output of `sudo npm install -g eolang` in case you need it

[code]

[2022-08-22 12:43] OlesiaSub commented on #34
I solved it by installing npm using nvm instead of apt

[2022-08-22 12:43] #34 closed

[2022-08-25 10:23] ivan-egorov42 opened #35 "Compile program without dataization"
Why I can't compile program like this:
[code]
Code
[code]
It fails. I don't want to dataize program. I need only XMIR file.
Here is [log.txt](https://github.com/objectionary/eo/files/9423788/log.txt)

[2022-08-31 10:58] ivan-egorov42 commented on #35
@mximp Here is the [log.txt](https://github.com/objectionary/eoc/files/9460902/log.txt)

[2022-08-31 11:55] mximp commented on #35
@ivan-egorov42
It seems like during compilation step `eo-maven-plugin` cannot be correctly retrieved (uses fake `0.0.0` version):
[code]
Due to this compilation of Java classes doesn't happen and hence consequent errors.
I can see that for other eoc commands the EO version is set explicitly:
[code]
But for `eoc link` is not. I think we need to fix this

[2022-08-31 12:24] ivan-egorov42 commented on #35
@mximp ok, you suppose that problem with wrong version of `eo-maven-plugin` in `eoc link`?

[2022-08-31 12:36] ivan-egorov42 commented on #35
@mximp Now I'm trying to run this code in sandbox and getting the same error. Here is [log.txt (https://github.com/objectionary/eoc/files/9461548/log.txt)

[2022-08-31 15:40] ivan-egorov42 commented on #35
@yegor256 @Graur please, have a look.

[2022-09-01 08:16] mximp commented on #35
@ivan-egorov42 No. I mean that this need to be fixed. Latest version has this flaw.

[2022-09-01 11:37] ivan-egorov42 commented on #35
@mximp ok. So now I can't compile this program?

[2022-09-01 14:35] mximp commented on #35
@ivan-egorov42 Would you be able to fix it?

[2022-09-01 14:52] ivan-egorov42 commented on #35
@mximp I'm not sure) I can wait for solution, it is not urgent.

[2022-09-01 15:40] mximp commented on #35
@yasamprom Can you please help with the fix.

[2022-09-01 15:41] mximp commented on #35
@yegor256 please assign the task

[2022-09-05 12:55] yegor256 commented on #33
@Karina5005 how about now? the bug still exists?

[2022-09-05 12:55] yegor256 opened #37 "gmi subcommand"

[2022-09-05 14:40] yegor256 commented on #37
@rultor release, tag is `0.8.0`

[2022-09-05 14:41] renovate[bot] opened #41 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency grunt-contrib-clean to v2.0.1
 - [ ] Update dependency commander to v9.4.0
 - [ ] Update dep

[2022-09-05 14:41] rultor commented on #37
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26721-1237143902)

[2022-09-05 14:50] rultor commented on #37
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26721-1237143902) (took me 8min)

[2022-09-05 14:51] #37 closed

[2022-09-05 15:38] yegor256 opened #42 "--parser option doesn't work"

[2022-09-05 15:41] yegor256 commented on #42
@rultor release, tag is `0.8.1`

[2022-09-05 15:43] rultor commented on #42
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26730-1237226171)

[2022-09-05 15:51] rultor commented on #42
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26730-1237226171) (took me 8min)

[2022-09-05 15:53] #42 closed

[2022-09-06 04:14] yegor256 opened #47 "options inverted"

[2022-09-06 04:17] yegor256 commented on #47
@rultor release, tag is `0.8.2`

[2022-09-06 04:18] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26734-1237640368)

[2022-09-06 04:25] rultor commented on #47
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26734-1237640368) (spent 7min)

[code]

[2022-09-06 04:33] yegor256 commented on #47
@rultor release, tag is `0.8.2`

[2022-09-06 04:35] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26734-1237648555)

[2022-09-06 04:42] rultor commented on #47
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26734-1237648555) (spent 7min)

[code]

[2022-09-06 04:52] yegor256 commented on #47
@rultor release, tag is `0.8.2`

[2022-09-06 04:53] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26734-1237657083)

[2022-09-06 05:00] rultor commented on #47
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26734-1237657083) (spent 7min)

[code]

[2022-09-06 05:47] yegor256 commented on #47
@rultor release, tag is `0.8.2`

[2022-09-06 05:47] rultor commented on #47
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26734-1237685142)

[2022-09-06 05:55] rultor commented on #47
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26734-1237685142) (took me 7min)

[2022-09-06 06:00] #47 closed

[2022-09-06 10:59] Karina5005 commented on #33
I think it was my problem.
Now for this versions everything is ok.
[code]

[2022-09-06 10:59] #33 closed

[2022-09-07 14:40] MikhailLipanin opened #55 "Not stable behaviour of "stdout" + "sprintf""
I have a simple program:
[code]
then I run:
[code]
and I get the following error:
[code]
BUT, if I run `eoc clean` again, and adding aliases to my code, so the code will looks like:
[code]
and then `eoc dataize fff`  -> All is working OK.
@yegor256 , I think there is something frong with uploading objects

[2022-09-08 14:12] MikhailLipanin opened #57 "Not full Error Stackstrace"
[code]

[2022-09-08 14:13] MikhailLipanin commented on #57
@yegor256

[2022-09-08 16:47] yegor256 opened #58 "print parser version into logs"

[2022-09-08 17:06] yegor256 commented on #58
@rultor release, tag is `0.8.3`

[2022-09-08 17:06] rultor commented on #58
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26773-1240986101)

[2022-09-08 17:14] rultor commented on #58
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26773-1240986101) (spent 7min)

[code]

[2022-09-08 17:59] yegor256 opened #59 "build is broken due to eslint errors"
For some weird reason, the build is broken, while locally `grunt eslint` works just fine for me and reports no issues: https://github.com/objectionary/eoc/runs/8254704962?check_suite_focus=true

[2022-09-08 18:00] yegor256 commented on #59
@Graur please, dispatch this one

[2022-09-08 18:01] yegor256 commented on #55
@mximp check this one please. I think the bug is in EO maven plugin, but I'm not sure.

[2022-09-08 18:01] yegor256 commented on #35
@yasamprom it's yours, please hel

[2022-09-08 18:03] yegor256 commented on #32
@mximp let's try to fix this

[2022-09-08 18:04] yegor256 commented on #28
@mximp what do you think? Seems like a bug related to eo-maven-plugin, not to this module?

[2022-09-08 18:05] yegor256 commented on #24
@mximp let's try to fix this

[2022-09-09 07:47] Graur commented on #59
@ivan-egorov42 please, take this task

[2022-09-10 04:09] yegor256 commented on #57
@mximp can you try to fix this? The problem is that we print a short list of error messages. For example, it doesn't include the line about the location of the object (line + pos). Probably the bug is in the `org.eolang.Main` class.

[2022-09-11 08:07] mximp commented on #24
@potatmen What program you are trying to run? Can you post the log with error here?

[2022-09-12 12:06] potatmen commented on #24
@mximp it happens whenever I run any program, even in Mac on M1.

[code]

[code]

[2022-09-14 11:55] yegor256 commented on #59
@Graur I fixed this already

[2022-09-14 11:55] #59 closed

[2022-09-14 11:56] #58 closed

[2022-09-14 11:56] yegor256 opened #62 "include/exclude in GMI"

[2022-09-14 12:01] Graur commented on #59
@yegor256 Thanks!

[2022-09-14 12:06] yegor256 commented on #62
@rultor release, tag is `0.8.3`

[2022-09-14 12:07] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26821-1246666392)

[2022-09-14 12:17] rultor commented on #62
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26821-1246666392) (took me 9min)

[2022-09-14 12:17] #62 closed

[2022-09-16 07:03] mximp commented on #28
@mnj2kk please provide all steps to reproduce the issue including folders in which you are trying to operate.
It looks like you are trying to create folders in restricted location.

[2022-09-16 07:05] mximp commented on #32
@includealex what is the source of integration test?
Or you are running sources as is from the repo?

[2022-09-16 08:19] includealex commented on #32
@mximp I went to the [itest](https://github.com/includealex/eoc/tree/master/itest) directory. So my history of bash commands was:
[code]
But it works now and no errors are appearing.

[2022-09-16 08:19] #32 closed

[2022-09-16 09:47] mximp commented on #24
@potatmen this is fixed.. Please verify and close the task

[2022-09-16 18:02] yegor256 commented on #24
@rultor release, tag is `0.8.4`

[2022-09-16 18:04] rultor commented on #24
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26869-1249652957)

[2022-09-16 18:13] rultor commented on #24
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26869-1249652957) (took me 9min)

[2022-09-19 12:20] yegor256 opened #68 "audit must print parser version too"

[2022-09-19 12:30] yegor256 commented on #68
@rultor release, tag is `0.8.5`

[2022-09-19 12:31] rultor commented on #68
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26902-1250956580)

[2022-09-19 12:38] rultor commented on #68
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26902-1250956580) (took me 7min)

[2022-09-19 12:57] #68 closed

[2022-09-22 10:18] Karina5005 opened #71 "Can not get GMI"
How can I get GMI for an example from README?
I tried:
[code]
[code]
[code]
But everytime GMI's is not generated and in logs I have this line:
`[INFO] No .xmir converted to GMIs`

[2022-09-22 10:52] mximp commented on #24
@potatmen reminder

[2022-09-22 11:20] potatmen commented on #24
@mximp thank you, going to check now

[2022-09-22 11:35] yegor256 commented on #71
@Karina5005 I just did `eoc clean && eoc gmi` and it worked just well. Try this one again and post a full log here:

[code]

[2022-09-22 11:36] yegor256 commented on #71
@Karina5005 my mistake. I didn't get an error, but I didn't get any `.gmi` files either.

[2022-09-22 11:39] yegor256 commented on #71
@Karina5005 try this one, should work:

[code]

[2022-09-22 11:50] potatmen commented on #24
@mximp as for now, I don't see any `Using eo-maven-plugin/*.*.*/eo-maven-plugin-*.*.*.jar` pattern in log and any errors occur during the compilation. So I think, it's ok, I will close it now. Thanks!

[2022-09-22 11:50] #24 closed

[2022-09-22 12:19] Karina5005 commented on #71
@yegor256 Thank you! It works so.

[2022-09-22 12:57] yegor256 commented on #71
@rultor release, tag is `0.8.6`

[2022-09-22 12:57] #71 closed

[2022-09-22 12:58] rultor commented on #71
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26991-1254985892)

[2022-09-22 13:05] rultor commented on #71
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26991-1254985892) (took me 7min)

[2022-09-26 09:28] mximp commented on #28
@mnj2kk reminder

[2022-09-29 10:40] mximp commented on #57
@MikhailLipanin please advise on the above

[2022-09-29 12:07] ivan-egorov42 opened #75 "Can't run a program with reo"

[2022-09-30 14:49] MikhailLipanin commented on #57
@mxip it was a case, when I gave to object `plus.` attributes `BOOL` and `INT`, so for this example:
[code]
Log is:
[code]

[2022-10-04 14:06] mximp commented on #28
@yegor256 do you think we can close it for now?

[2022-10-04 14:08] yegor256 commented on #28
@mximp closed

[2022-10-05 08:57] mximp commented on #55
@MikhailLipanin @yegor256
It seems that this behaviour is expected. We have to put `+alias` meta for the objects we use at least in one file during compilation. That's how it's done in all `eo` repository.
In this case there is no error for `stdout` because it's aliased via `eo-collections` which in turn is pulled via usage in atoms `int` and `string`.  So the following code works well:
[code]

[2022-10-05 10:48] mximp commented on #57
@MikhailLipanin @yegor256
I believe the last 3 lines in the above log clearly state line/position and the issue.
What is wrong with that?

[2022-10-05 10:51] mximp commented on #57
Maybe it's worth to reformat the error message:
[code]
What do you think?

[2022-10-05 11:01] yegor256 commented on #55
@mximp I think this code should work just fine:

[code]

If it doesn't, it's a bug in the plugin, I believe.

[2022-10-07 10:24] mximp commented on #57
@yegor256 @MikhailLipanin So what are we doing with this? I think we can close it as I see nothing to fix/implement here.

[2022-10-07 10:50] MikhailLipanin commented on #57
@mximp as for me, this one:
[code]
looks more understandable, @yegor256 What do you think?

[2022-10-07 11:12] mximp commented on #57
@MikhailLipanin I checked the code and it's not that easy to make the output look this way.
Is it really worth it?

[2022-10-07 13:39] MikhailLipanin commented on #57
@mximp I don't know, probably not...

[2022-10-07 14:34] EduardoFernandes1410 opened #78 ""Error: Cannot find module 'node:util'" when runnning 'eoc dataize hello'"
I'm trying to run the hello.eo program from README. When I execute

`eoc dataize hello`

I get the following error:

[code]

npm version: 8.5.1
node version: 12.22.9
OS: ubuntu 22.04

[2022-10-07 14:59] devgru commented on #78
@EduardoFernandes1410 sadly, this won't work on older node versions.

`node:` prefix was introduced in v16.0.0 and v14.18.0 versions. Upgrading your `nodejs` package could help.

[2022-10-07 15:01] mximp commented on #55
A bit more details on this:
The objects which are defined with package like this `org.eolang.txt.sprintf` are expanded within XMIR in the following:
[code]
Objects which start from `.` (dot) are not discovered as foreign and considered to be a part of a package. The only exception is when an object is placed by other means (via other EO object or jar dependency). That's why it works for `org.eolan

[2022-10-07 15:07] mximp commented on #55
@yegor256 please move it to `eo`

[2022-10-07 15:52] EduardoFernandes1410 commented on #78
Thank you, that did it!

[2022-10-07 15:52] #78 closed

[2022-10-07 16:00] EduardoFernandes1410 opened #79 ""[ERROR] Failed to execute goal org.eolang:eo-maven-plugin:0.28.9:assemble" when running "eoc dataize hello""
When executing "eoc dataize hello" on the hello world example from README.md, I get the following error message after several minutes (provided in pastebin due to the size of it):

https://pastebin.com/TirD0i7S

node version: v16.17.1
npm version: 8.15.0
java version: 17.0.4
javac version: 17.0.4
OS: ubuntu 22.04

[2022-10-08 02:58] kerelape commented on #79
Looks like you use `sprintf` as is. You have to either use it like `QQ.txt.sprintf`, or make and alias to it `+alias org.eolang.txt.sprintf`

[2022-10-08 06:18] EduardoFernandes1410 commented on #79
I'm using the code given as an example in the README.md of this repo. There is no sprintf, only stdout. Here is the full code:
[code]

[2022-10-09 09:43] Masynchin opened #81 "Class not found"
I want to compile `hello.eo` with the following content:

[code]

I run `eoc dataize hello`, but it raises `java.lang.ClassNotFoundException: EOhello`.

<details>
<summary>
Full traceback
</summary>

[code]

</details>

## Environment

- EOC: 0.8.6
- EO: 0.28.9
- JDK: 19
- OS: macOS 12.4

[2022-10-09 13:16] yegor256 commented on #81
@mximp I believe this problem is related to the recent changes in `PlaceMojo`. Please, take a look.

[2022-10-09 16:40] mximp commented on #81
@Masynchin can you please try to run `eoc clean` and then repeat dataization?
Do you have several `.eo` files in the folder or single `hello.eo`?

[2022-10-09 16:46] Masynchin commented on #81
Now it compiles, thanks!

Singe `hello.eo`.

[2022-10-09 17:01] mximp commented on #81
It happens from time to time when `.eoc` folder is messed up. There is no particular pattern for this hence nothing to fix at the moment. Normally `eoc clean` helps.

@Masynchin please close the issue if nothing left here.

[2022-10-09 17:43] #81 closed

[2022-10-10 12:08] mximp commented on #57
@MikhailLipanin let's close the issue then

[2022-10-11 13:28] #57 closed

[2022-10-13 15:09] volodya-lombrozo opened #82 "Dataize twise"
I have the next programm:
[code]

When I run `eoc dataize app` everything works fine and in the console I can see the next output:
[code]
_(however, it isn't clear, why the program prints `%` at the end)_

Then, I cange the program to the next:

[code]
and run the same command `eoc dataize app`. Now, in the console I see the next exception:
[code]

When I clean `.eoc` folder by `rm -rf .eoc` and r

[2022-10-14 02:54] yegor256 commented on #82
@volodya-lombrozo try `eoc clean`. However, it's a bug, we should fix it.

[2022-10-14 02:54] yegor256 commented on #82
@mximp can you please help?

[2022-10-14 10:43] mximp commented on #82
The issue seems to happen when sources are modified and `.eoc` folder already presents: compilation process messes up `./eoc/classes` content.
I've tried several other apps and got the same error.
`eoc clean` resolves the issue.

[2022-10-14 12:30] mximp commented on #82
The root cause is inconsistency between `eoc` and `eo-maven-plugin` in how they work with generated sources:
`transpile` command of `eoc` as a first step removes previously generated sources in `.eoc/generated-sources/`:
[code]
However since transpiled `.xmir` files still present in `.eoc/06-transpile/`, `transpile` goal from `eo-maven-plugin` won't produce new Java source. This results in compila

[2022-10-18 11:10] volodya-lombrozo opened #85 "GMI test fails"
When I run `grunt` command I get the next exception

[code]

The same exception I get using the `sudo npm test -- test/commands/test_gmi.js ` command.

[2022-10-18 14:13] mximp commented on #35
@volodya-lombrozo please assist

[2022-10-19 18:16] volodya-lombrozo commented on #35
The problem is quite deeper. I’ve tried to run the same code in `sandbox` and using `eoc` directly:

[code]
In both cases we have the same compilation exception.
The problem remains with all EO programs where we don’t use foreign objects. For example, the next code samples will compile fine:
[code]

Or

[code]

As I mentioned above, in the first code sample we don’t use foreign objects, by that re

[2022-10-21 12:53] #85 closed

[2022-10-24 08:07] mximp commented on #82
@volodya-lombrozo done. please check and close

[2022-10-24 08:44] volodya-lombrozo commented on #82
@mximp It seems working. Thank you.

[2022-10-24 08:44] #82 closed

[2022-10-24 14:20] volodya-lombrozo opened #87 "Build is not stable due to not-long-enough timeouts"
`eoc` pipelines fail quite often by timeout:
* https://github.com/objectionary/eoc/actions/runs/3288187318/jobs/5418222618#step:7:97
* https://github.com/objectionary/eoc/actions/runs/3128020253/jobs/5075333295#step:7:355

https://github.com/objectionary/eoc/pull/83#issuecomment-1285185066

[2022-10-24 15:08] yegor256 commented on #87
@volodya-lombrozo definitely a bug, but I don't know what could be the right solution. Let's think about it and fix. Try it, please.

[2022-10-28 18:19] ivan-egorov42 opened #88 "Increase of stack size"
We need to increase stack size. According to objectionary/eo/issues/1278

[2022-10-28 18:19] ivan-egorov42 commented on #88
@Graur pls, assign me.

[2022-10-30 04:21] yegor256 commented on #88
@rultor release, tag is `0.9.0`

[2022-10-30 04:22] rultor commented on #88
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/27741-1296101085)

[2022-10-30 04:30] rultor commented on #88
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/27741-1296101085) (took me 7min)

[2022-10-31 08:23] #88 closed

[2022-10-31 08:25] ivan-egorov42 opened #90 "Update readme"
Do we need update readme? It will be good to say about options like `--alone` or `--stack<size>`.

[2022-10-31 08:26] ivan-egorov42 commented on #90
@Graur what do you think?

[2022-10-31 08:27] Graur commented on #90
@ivan-egorov42 Sure, go ahead

[2022-11-07 13:31] yegor256 commented on #19
Duplicate of #87

[2022-11-07 13:31] #19 closed

[2022-11-07 13:42] yegor256 opened #93 "use spawn() instead of spawnSync()"
At the moment, we have this code in `mvnw.js`:

[code]

It runs a provided `bin` command and returns its exit code. While it runs, we have no control. I suggest to replace `spawnSync` with `spawn` and check the status of the running command asynchronously. While waiting for the command to finish we can list all files in the directory and print its total count. This printing will help the user who

[2022-11-07 13:42] yegor256 commented on #93
@volodya-lombrozo can you help with this?

[2022-11-07 13:47] volodya-lombrozo commented on #93
@yegor256 I can try, just assign issue to me

[2022-11-11 07:55] volodya-lombrozo opened #94 "Add timestamps for maven logs"
I was struggling with the [task](https://github.com/objectionary/eo/issues/1428) of adding timestamps for build logs, because applied changes for `log4j` logger didn’t applied on a build process. In other words, if you use `eoc` with the new version of `eo-maven-plugin` (where we already added timestamps for `log4j` logs), you still will see the next output:

[code]

Why? Because we use logs frame

[2022-11-14 05:50] volodya-lombrozo commented on #35
@ivan-egorov42 can you try to run your example program again, please? We fixed that bug from `0.28.11` version.

[2022-11-21 12:33] volodya-lombrozo opened #97 "Chained commands"
When I run the next command it only cleans the directory:
[code]
Dataization doesn't happen. And I have to call `eoc dataize app` again. It would be useful to be able to state several `eoc` commands like `clean` and `dataize` in one line, as for me.